zuul:
  ribbon-isolation-strategy: thread
  host:
    connect-timeout-millis: 600000
    socket-timeout-millis: 600000
    connection-request-timeout-millis: 600000
  routes:
    uaa-provider:
      path: /uaa-provider/**
      serviceId: user-provider
      strip-prefix: false
    demo-provider:
      path: /demo-provider/**
      serviceId: demo-provider
      strip-prefix: false
    url-demo:
      path: /baidu/**
      url: https://www.baidu.com
      sensitiveHeaders: Cookie, Set-Cookie, token, backend, Authorization
eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_ZONE_HOST:localhost}:7777/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
    ip-address: ${spring.cloud.client.ip-address}
server:
  port: 80
spring:
  application:
    name: zuul-application
ribbon:
  ReadTimeout: 600000
  ConnectTimeout: 600000
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 1
#hystrix:
#  command:
#    default:
#      execution:
#        isolation:
#          thread:
#            timeoutMilliseconds: 50000